body {
    direction: rtl;
    margin: 0;
    background-color: rgba(200, 222, 155, 0.781);
}

/*========================== Container ==========================*/
.doctor-details-container {
    max-width: 1100px;
    margin: auto;
}

/*========================== Doctor Card ==========================*/
.doctor-card {
    background:linear-gradient(135deg,#0d5c75,#17b890);
    display: flex;
    align-items: center;
    gap: 35px;
    border-radius: 18px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, .08);
    margin-bottom: 40px;
    padding: 30px 35px;
}

.doctor-image-box img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    border: 6px solid #dceff1;
}

.doctor-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.doctor-info h2 {
    margin: 0;
    color: #ffffff;
    font-size: 28px;
}

.doctor-special {
    background: #d7f2f4;
    color: #0b7285;
    padding: 8px 16px;
    border-radius: 30px;
    display: inline-block;
    width: fit-content;
    font-size: 14px;
    font-weight: bold;
}

/*========================== Schedule ==========================*/
.schedule-title {
    margin-bottom: 25px;
    color: #234;
    font-size: 26px;
}

.schedule-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.schedule-link {
    text-decoration: none;
}

.schedule-card {
    background: white;
    border-radius: 14px;
    padding: 20px 18px;
    transition: .25s;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .08);
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.schedule-card:hover {
    box-shadow: 0 15px 35px rgba(30, 25, 25, 0.681);
    transform: translateY(-3px);
}

.schedule-day {
    font-size: 20px;
    font-weight: bold;
    color: #19535f;
    text-align: center;
    background-color: rgba(226, 243, 161, 0.622);
    border-radius: 12px;
    padding: 8px 10px;
}

.schedule-time {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: #f4f8f9;
    border-radius: 10px;
    padding: 10px 12px;
    color: #444;
    font-size: 16px;
}

.time-separator {
    color: #888;
}

.schedule-capacity {
    text-align: center;
    background: #d7f2f4;
    color: #0b7285;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
}

/* Responsive */
@media (max-width: 1024px) {
    .schedule-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .doctor-card {
        flex-direction: column;
        text-align: center;
        padding: 25px;
        gap: 20px;
    }

    .doctor-info {
        align-items: center;
    }

    .schedule-grid {
        grid-template-columns: 1fr;
    }

    .doctor-image-box img {
        width: 130px;
        height: 130px;
    }

    .doctor-info h2 {
        font-size: 24px;
    }

    .schedule-title {
        font-size: 22px;
        text-align: center;
    }
}