body{
   direction: rtl;
   background-color: rgba(184, 202, 149, 0.567);
}

/* عنوان صفحه */

.page-title{
    color: #ffffff !important;
    margin: 35px 0 8px;
    font-size: 30px;
}
.title-doctor-up{
    display: flex;
    gap: 10px;
    margin: 20px 10px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    background:linear-gradient(135deg,#0d5c75,#17b890);
    
}

.page-title{
    margin: 0;
    color:#1f2937;
    font-size:30px;
}

.title-doctor-up h2{
    margin: 0;
    color:#ffffff;
    font-size:24px;
    margin-top: 2px;
}

/* لیست کارت‌ها */

.time-doctor-parent{
    display: grid;
    grid-template-columns: repeat(4, 350px);
    margin-right: 25px;
    gap: 20px;
}

/* لینک */

.schedule-link{
    text-decoration: none;
    color: inherit;
}

/* کارت */

.schedule-card{
    background: #ffffff;
    border-radius: 14px;
    overflow: hidden;
    border: 1px solid #e5e7eb;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
    transition: .3s;
}

.schedule-link:hover .schedule-card{
    box-shadow: 0 10px 25px rgba(0, 34, 108, 0.697);
}

/* هدر کارت */

.schedule-header{
    background: linear-gradient(135deg,#2563eb,#3b82f6);
    color: white;
    text-align: center;
    padding: 14px;
    font-size: 18px;
    font-weight: bold;
}

/* بدنه کارت */

/* بدنه کارت */

.schedule-body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 18px;
}


/* باکس اطلاعات */

.info-box{
    width: 65px;
    height: 70px;

    background: #f8fafc;
    border: 1px solid #dbe3ee;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    transition: .3s;
}


.info-box:hover{
    background:#eff6ff;
    border-color:#2563eb;
}


.label{
    font-size: 11px;
    color:#6b7280;
    margin-bottom:5px;
    white-space: nowrap;
}


.info-box span:last-child{
    font-size:15px;
    font-weight:bold;
    color:#2563eb;
}

/* موبایل */

@media (max-width:768px){

    .schedule-body{
        gap: 10px;
    }

    .info-box{
        width: calc(50% - 10px);
        height: 70px;
    }

    .page-title{
        font-size: 26px;
    }

    .page-title + h2{
        font-size: 21px;
    }
}

@media (max-width:480px){

    .info-box{
        width: 100%;
    }
}