{% extends "base.html" %}

{% block title %}
ورود مدیر
{% endblock %}

{% block body %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/admin_login.css') }}">

<section class="admin-login">

    <h2>ورود مدیر</h2>

    <p>برای ورود اطلاعات خود را وارد کنید</p>

    <form action="{{ url_for('admin.login') }}" method="POST">

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <label for="username">نام کاربری</label>
        <input type="text" id="username" name="username" placeholder="نام کاربری" required>

        <label for="password">رمز عبور</label>
        <input type="password" id="password" name="password" placeholder="رمز عبور" required>

        <button type="submit">
            ورود
        </button>

    </form>

</section>

{% endblock %}