{% extends "base.html" %}

{% block title %}
صفحه اصلی
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

<section>
    <form action="{{ url_for('admin.login') }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <label for="username">نام کاربری</label>
        <input type="text" id="username" name="username" placeholder="نام کاربری" required>

        <br><br>

        <label for="password">رمز عبور</label>
        <input type="password" id="password" name="password" placeholder="رمز عبور" required>

        <br><br>

        <button type="submit">ورود</button>

    </form>
</section>


{% endblock %}