{% extends "base.html" %}

{% block title %}
صفحه ثبت اطلاعات
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/doctor_login.css') }}">

<section class="login-section">

    <form action="{{ url_for('doctor.doctor_login') }}" method="POST" class="login-form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <h2 class="login-title">ورود به حساب کاربری</h2>
        <p class="login-subtitle">برای مشاهده نوبت‌های خود وارد شوید.</p>

        <div class="input-group">
            <label for="phone">شماره موبایل</label>
            <input type="text" name="phone" id="phone" placeholder="09123456789" autocomplete="off">
        </div>

        <div class="input-group">
            <label for="password">رمز عبور</label>
            <input type="password" name="password" id="password" placeholder="رمز عبور">
        </div>

        <button type="submit" class="login-btn">
            ورود
        </button>

    </form>

</section>



{% endblock %}


 <section>
        <form action="{{ url_for('doctor.doctor_login') }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

            <div>
                <label for="phone">شماره تلفن</label>
                <input type="text" name="phone" id="phone" placeholder="شماره موبایل">
            </div>

            <div>
                <label for="password">رمز عبور</label>
                <input type="password" name="password" id="password" placeholder="رمز عبور">
            </div>

            <div>
                <button type="submit">ورود</button>
            </div>
        </form>
    </section>