<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">

<footer class="site-footer">

    <div class="footer-container">

        <!-- معرفی -->
        <div class="footer-section footer-about">
            <h3>بیمارستان رازی</h3>
            <p>
                بیمارستان رازی با هدف ارائه خدمات درمانی با کیفیت،
                در کنار بیماران و همراهان آن‌هاست.
            </p>
        </div>

        <!-- لینک‌های سریع -->
        <div class="footer-section">
            <h3>دسترسی سریع</h3>

            <ul>
                <li><a href="{{ url_for('general.home') }}">خانه</a></li>
                <li><a href="{{ url_for('general.about') }}">درباره ما</a></li>
                <li><a href="{{ url_for('user.taking_turn') }}">پزشکان</a></li>
                <li><a href="{{ url_for('general.gallery') }}">گالری</a></li>
                <li><a href="{{ url_for('general.ertebat_ba_ma') }}">ارتباط با ما</a></li>
            </ul>
        </div>

        <!-- خدمات -->
        <div class="footer-section">
            <h3>خدمات ما</h3>

            <ul>
                <li><a href="{{ url_for('user.taking_turn') }}">دریافت نوبت</a></li>
                <li><a href="{{ url_for('user.login_this') }}">پیگیری نوبت</a></li>
                <li><a href="{{ url_for('admin.login') }}">ADMIN</a></li>
                <li><a href="{{ url_for('doctor.doctor_login') }}">DOCTOR</a></li>
            </ul>
        </div>

        <!-- اطلاعات تماس -->
        <div class="footer-section footer-contact">
            <h3>ارتباط با ما</h3>

            <p>
                <span>📍</span>
                آدرس: تهران، خیابان ولیعصر
            </p>

            <p>
                <span>☎</span>
                تلفن: 021-12345678
            </p>

            <p>
                <span>✉</span>
                ایمیل: info@razi-hospital.ir
            </p>
        </div>

    </div>


    <!-- پایین فوتر -->
    <div class="footer-bottom">

        <p>
            © 2026 تمامی حقوق برای بیمارستان رازی محفوظ است.
        </p>

        <div class="footer-social">
            <a href="#">Instagram</a>
            <a href="#">Telegram</a>
            <a href="#">LinkedIn</a>
            <a href="#">Whatsup</a>
            
        </div>

    </div>

</footer>
