

<header>
    <a class="apadana-logo-link" href="{{ url_for('general.home') }}">
    </a>

    <nav>
        <ul>
            <li><a href="{{ url_for('general.home') }}">خانه</a></li>
            <li><a href="#">درباره ما</a></li>
            <li><a href="#">بخش ها</a></li>
            <li><a href="#">کلینیک ها</a></li>
            <li><a href="#">اخبار</a></li>
            <li><a href="#">گالری</a></li>
            <li><a href="#">ارتباط با ما</a></li>
        </ul>
    </nav>

    {% if request.endpoint != 'user.want_doctor' 
    and request.endpoint != 'user.taking_turn'  
    %}
        <a class="nobat-dehi-link" href="{{ url_for('user.taking_turn') }}">نوبت دهی کلینیک</a>
    {% endif %}

</header>