

<header>
    <a class="apadana-logo-link" href="{{ url_for('general.home') }}">
    <div class="logo">
        <img src="{{ url_for('static', filename='image/apadana.png') }}" alt="">
    </div>
    </a>

    <nav>
        <ul>
            <li><a href="{{ url_for('general.home') }}">خانه</a></li>
            <li><a href="#">درباره ما</a></li>
            <li><a href="#">بخش ها</a></li>
            <li><a href="#">کلینیک ها</a></li>
            <li><a href="#">اخبار</a></li>
            <li><a href="#">گالری</a></li>
            <li><a href="#">ارتباط با ما</a></li>
        </ul>
    </nav>

    <a class="nobat-dehi-link" href="{{ url_for('general.taking_turn') }}">نوبت دهی کلینیک</a>

</header>