{% extends "base.html" %}

{% block title %}
صفحه ثبت اطلاعات
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user_want_doctor.css') }}">

<h1>heloo want doctor</h1>


<section class="time-doctor-parent">
    {% for schedule in doctor.schedules %}
        <p>{{ schedule.day_of_week }}</p>
        <p>{{ schedule.start_time }}</p>
        <p>{{ schedule.end_time }}</p>
        <p>{{ schedule.max_visits }}</p>
    {% endfor %}
</section>

    {% endblock %}