<link rel="stylesheet" href="{{ url_for('static', filename='css/user_want_doctor.css') }}"> <!--This Page-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}"> <!--Header-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}"> <!--Fonts-->


{% include "part/header.html" %} 

<div class="title-doctor-up">
<h1 class="page-title">دکتر انتخاب شده :</h1>
<h2>{{ doctor.doctor_name }}</h2>
</div>

<section class="time-doctor-parent">

    {% for schedule in doctor.schedules %}

    <a href="#" class="schedule-link">

        <div class="schedule-card">

            <div class="schedule-header">
                <span>{{ schedule.day_of_week }}</span>
            </div>

            <div class="schedule-body">

                <div class="info-box">
                    <span class="label">ساعت شروع</span>
                    <span>{{ schedule.start_time.strftime('%H:%M') }}</span>
                </div>

                <div class="info-box">
                    <span class="label">ساعت پایان</span>
                    <span>{{ schedule.end_time.strftime('%H:%M') }}</span>
                </div>

                <div class="info-box">
                    <span class="label">تعداد ویزیت</span>
                    <span>{{ schedule.max_visits }}</span>
                </div>

                <div class="info-box">
                    <span class="label">اخذ شده</span>
                    <span>{{ schedule.booked_visits }}</span>
                </div>

            </div>

        </div>

    </a>

    {% endfor %}

</section>
