<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>کلینیک خدمات پزشکی</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">

    {% block header %}

        {% if request.endpoint != 'user.register' %}

            {% include "part/header.html" %}

        {% endif %}
        
    {% endblock %}
</head>

<body>



    {% include "part/flash_message.html" %}


    {% block body %}

    {% endblock %}


</body>

</html>


<!--

<a href="{{ url_for('admin.login') }}">admin</a><br><br>
<a href="{{ url_for('user.login_this') }}">ورود</a><br><br>
<a href="{{ url_for('doctor.doctor_login') }}">پنل دکتر</a>

-->
