{% extends "base.html" %}

{% block title %}
صفحه ثبت اطلاعات
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/doctor_details.css') }}">

<section class="doctor-card">

    <div class="doctor-image-box">
        <img src="{{ url_for('static', filename='doctor_profile/' ~ doctor.profile_image) }}"
            alt="{{ doctor.doctor_name }}">
    </div>

    <div class="doctor-info">

        <h2>{{ doctor.doctor_name }}</h2>

        <span class="doctor-special">
            {{ doctor.specials }}
        </span>

    </div>

</section>


<section class="schedule-section">

    <h3 class="schedule-title">
        زمان‌های نوبت‌دهی
    </h3>

    <div class="schedule-grid">

        {% for item in schedule_data %}

        {% set schedule = item.schedule %}

        <a href="{{ url_for('user.register', schedule_id=schedule.id) }}" class="schedule-link">

            <div class="schedule-card">

                <!-- تاریخ شمسی -->
                <div class="appointment-date">
                    {{ item.persian_date }}
                </div>

                <!-- روز هفته -->
                <div class="schedule-day">
                    {{ schedule.day_of_week }}
                </div>

                <!-- ساعت -->
                <div class="schedule-time">

                    <span>
                        {{ schedule.start_time.strftime('%H:%M') }}
                    </span>

                    <span class="time-separator">
                        تا
                    </span>

                    <span>
                        {{ schedule.end_time.strftime('%H:%M') }}
                    </span>

                </div>

                <!-- ظرفیت -->
                <div class="schedule-capacity">
                    تعداد ویزیت:
                    {{ schedule.max_visits }}
                </div>

                <!-- رزرو شده -->
                <div class="schedule-capacity">
                    اخذ شده:
                    {{ schedule.booked_visits }}
                </div>

            </div>

        </a>

        {% endfor %}

    </div>

</section>

{% endblock %}