{% extends "base.html" %}

{% block title %}
پیگیری نوبت | بیمارستان رازی
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user_login_this.css') }}">


<!--برای ورود به صفحه دشبورد کاربر-->
<section class="form-details-parent">
    <h2>برای پیگیری نوبت خود لطفا شماره موبایل خود را وارد کنید :</h2>
    <form class="form-details" action="{{ url_for('user.login_this') }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <div class="form-group">
            <label for="phone">شماره موبایل</label>
            <input type="tel" id="phone" name="phone" value="{{ phone or '' }}" placeholder="09123456789">
        </div>

        <button type="submit">ورود</button>
    </form>
</section>

{% endblock %}