{% extends "base.html" %}

{% block title %}
صفحه اصلی
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

<section class="user-register-parent">
    <h2>ثبت اطلاعات</h2>
    <p>برای ورود و نوبت دهی اطلاعات زیر را کامل کنید</p>
    <form action="{{ url_for('user.register') }}" method="POST">

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <div class="form-group">
            <label for="fullname">نام و نام خانوادگی</label>
            <input type="text" id="fullname" name="fullname" value="{{ fullname or '' }}"placeholder="نام و نام خانوادگی"> <!--value باعث میشه اطلاعات در صورت خرابی رمز عبور پاک نشن-->
        </div>

        <div class="form-group">
            <label for="phone">شماره موبایل</label>
            <input type="tel" id="phone" name="phone" value="{{ phone or '' }}" placeholder="09123456789">
        </div>


        <div class="form-group">
            <label for="national_code">کد ملی</label>
            <input type="text" name="national_code" id="national_code" value="{{ national_code or '' }}" placeholder="کد ملی">
        </div>

        <button type="submit">ورود</button>

    </form>
</section>




    {% endblock %}