{% extends "base.html" %}

{% block title %}
صفحه ثبت اطلاعات
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user_verify.css') }}">

<!--صفحه هنگام اخذ نوبت با ثبت نام-->
    <section>
        <h2>لطفا کد پیامکی ارسال شده را وارد کنید</h2>
        <form action="{{ url_for('user.verify') }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            
            <div class="form-group">
                <label for="user_otp">کد ارسالی</label>
            <input type="text" name="user_otp" id="user_otp" maxlength="6" placeholder="کد 6 رقمی">

            <button type="submit">تایید</button>
        </div>
        </form>
    </section>

    <p class="test-otp">
         کد آزمایشی: {{ session.get('otp') }}
    </p>



    {% endblock %}