{% extends "base.html" %}

{% block title %}
صفحه اصلی
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

<section class="user-register-parent">
    <form action="{{ url_for('user.register') }}" method="POST">

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <div class="form-group">
            <label for="fullname">نام و نام خانوادگی</label>
            <input type="text" id="fullname" name="fullname" value="{{ fullname or '' }}" placeholder="نام و نام خانوادگی" required> <!--value باعث میشه اطلاعات در صورت خرابی رمز عبور پاک نشن-->
        </div>

        <div class="form-group">
            <label for="phone">شماره موبایل</label>
            <input type="tel" id="phone" name="phone" value="{{ phone or '' }}" placeholder="09123456789">
        </div>

        <div class="form-group">
            <label for="email">ایمیل (اختیاری)</label>
            <input type="email" id="email" name="email" value="{{ email or '' }}" placeholder="example@gmail.com">
        </div>

        <div class="form-group">
            <label for="password">رمز عبور</label>
            <input type="password" id="password" name="password" placeholder="رمز عبور">
        </div>

        <div class="form-group">
            <label for="confirm_password">تکرار رمز عبور</label>
            <input type="password" id="confirm_password" name="confirm_password" placeholder="تکرار رمز عبور">
        </div>

        <button type="submit">ثبت نام</button>

    </form>
</section>

{% endblock %}